<section class="layoutTemplate">

  <!-- Header of each page -->

  <section class="headers-section">
      <h1 class="headers">Steps to set up git:</h1>
  </section>

  <hr class="horizontal-line">

  <section class="steps">
    <p>Step 1: Create a Repository on Github</p>
    <p>Step 2: Set up the Origin</p>
    <p>Step 3: Push your code to GitHub</p>
    <p>Step 4: Do this and then that.</p>

  </section>

  <!-- step 1 -->

  <section class="headers-section"><h1 class="headers">Step1: Create a Repository on Github</h1></section>

  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">Let's jump ahead a month or two and pretend like we just reached personal projects. You're going to be pushing your code up to GitHub frequently. In order to do that, you first need to create a repository on GitHub to push to. Head over to your GitHub account, then in the top right-hand corner click the '+' button and click 'New repository'. Enter the name of your repository then click 'Create Repository'. This repository is where your code for this project will now live.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- step 2 -->
  <section class="headers-section"><h1 class="headers">Step2: git busy coding.</h1></section>
  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">This is where you would get more extensive directions as to how to complete the step that you want them to understand. This will be very useful to teach the students the concepts.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- step 3 -->
  <section class="headers-section"><h1 class="headers">Step3: Do a bunch more stuff.</h1></section>
  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">This is where you would get more extensive directions as to how to complete the step that you want them to understand. This will be very useful to teach the students the concepts.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- resources section -->
  <section class="headers-section">
      <h1 class="headers">Additional Resources:</h1>
  </section>

  <hr class="horizontal-line">

  <section class="steps">
    <a href="http://rogerdudler.github.io/git-guide/"><p>http://rogerdudler.github.io/git-guide/</p></a>
    <a href="https://www.atlassian.com/git/tutorials/setting-up-a-repository/"><p>https://www.atlassian.com/git/tutorials/setting-up-a-repository/</p></a>

  </section>



   </section>
