<section class="gitTemplate">

  <!-- <div class="green-box">
    <div class="profile-pic">
      <img id="profile-pic" ng-src='{{profilePicture}}'/>
    </div>
  </div> -->

  <h1 id="name">Michael Spencer</h1>

    <a style="text-decoration: none" ui-sref="skills"><h3 id="menu">git</h3></a>
    <a style="text-decoration: none" ui-sref="portfolio"><h3 id="menu">Portfolio</h3></a>
    <a style="text-decoration: none" ui-sref="contact"><h3 id="menu">Contact</h3></a>

    <a style="text-decoration: none" ui-sref="skills"><h3 id="menu">git</h3></a>
    <a style="text-decoration: none" ui-sref="portfolio"><h3 id="menu">Portfolio</h3></a>
    <a style="text-decoration: none" ui-sref="contact"><h3 id="menu">Contact</h3></a>

    <a style="text-decoration: none" ui-sref="skills"><h3 id="menu">git</h3></a>
    <a style="text-decoration: none" ui-sref="portfolio"><h3 id="menu">Portfolio</h3></a>
    <a style="text-decoration: none" ui-sref="contact"><h3 id="menu">Contact</h3></a>

   </section>
