<section class="gitTemplate">

  <!-- Header of each page -->

  <section class="headers-section">
      <h1 class="headers">Steps to set up git:</h1>
  </section>

  <hr class="horizontal-line">

  <section class="steps">
    <p>Step 1: Do this and then that.</p>
    <p>Step 2: Do this and then that.</p>
    <p>Step 3: Do this and then that.</p>
    <p>Step 4: Do this and then that.</p>

  </section>

  <!-- step 1 -->

  <section class="headers-section"><h1 class="headers">Step1: Install git via the terminal.</h1></section>
  <section>

    <hr class="horizontal-line">

    <p class="paragraph-section">This is where you would get more extensive directions as to how to complete the step that you want them to understand. This will be very useful to teach the students the concepts.
    </p>
  </section>

  <section class="code-snippets"><img src="images/snippet.png" /></section>

  <!-- step 2 -->
  <section class="headers-section"><h1 class="headers">Step2: git busy coding.</h1></section>
  <section>

    <hr class="horizontal-line">

    <p class="paragraph-section">This is where you would get more extensive directions as to how to complete the step that you want them to understand. This will be very useful to teach the students the concepts.
    </p>
  </section>

  <section class="code-snippets"><img src="images/snippet.png" /></section>

  <!-- step 3 -->
  <section class="headers-section"><h1 class="headers">Step3: Do a bunch more stuff.</h1></section>
  <section>

    <hr class="horizontal-line">

    <p class="paragraph-section">This is where you would get more extensive directions as to how to complete the step that you want them to understand. This will be very useful to teach the students the concepts.
    </p>
  </section>

  <section class="code-snippets"><img src="images/snippet.png" /></section>

  <!-- resources section -->
  <section class="headers-section">
      <h1 class="headers">Additional Resources:</h1>
  </section>

  <hr class="horizontal-line">

  <section class="steps">
    <p>stackoverflow.com</p>
    <p>stackoverflow.com</p>
    <p>stackoverflow.com</p>
  </section>



   </section>
