<section class="layoutTemplate">
  <!-- Under each section, there is a commented out section where you can add a screenshot. Simply un-comment the section and put in the correct path to your image. -->
  <!-- Header of each page -->

  <section class="headers-section">
      <h1 class="headers">Steps to set up MongoDb:</h1>
  </section>

  <hr class="horizontal-line">

  <section class="steps">
    <p>Step 1: Write a step here</p>
    <p>Step 2: Write a step here</p>
    <p>Step 3: Write a step here</p>
    <p>Step 4: Write a step here</p>
  </section>

  <!-- step 1 -->

  <section class="headers-section"><h1 class="headers">Step1: "Put a step here"</h1></section>

  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- step 2 -->
  <section class="headers-section"><h1 class="headers">Step2: "Put a step here"</h1></section>
  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- step 3 -->
  <section class="headers-section"><h1 class="headers">Step3: "Put a step here"</h1></section>
  <section>
    <hr class="horizontal-line">
    <p class="paragraph-section">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </section>
  <!-- <section class="code-snippets"><img src="images/snippet.png" /></section> -->

  <!-- resources section -->
  <section class="headers-section">
      <h1 class="headers">Additional Resources:</h1>
  </section>
  <hr class="horizontal-line">
  <section class="steps">
    <a href="http://rogerdudler.github.io/git-guide/"><p>http://rogerdudler.github.io/git-guide/</p></a>
    <a href="https://www.atlassian.com/git/tutorials/setting-up-a-repository/"><p>https://www.atlassian.com/git/tutorials/setting-up-a-repository/</p></a>
  </section>


</section>
